
body {
  text-align: center;
  background-color: #FAFBD2;
  
}

.metrics {
  display: inline-block;
  font-family: Courier New;
  font-size: 20px;
} 


img {
  justify-content: center;
  height:100%;
  max-height: 150px;
}

h1 {
  font-family: fantasy;
}

h2 {
  color: #FAFBD2;
  font-family: Arial;
  font-weight: 700;
  margin: 60px 0px 0px 0px;
}

 button {
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  font-family: Courier New;
  font-weight: 700;

 }


































